<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jjangplay_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- servlet 등록 servlet, servlet-mapping -->
  <servlet>
  	<description>설명 : FrontController 역할 - DispatcherServlet 등록</description>
  	<servlet-name>dispatchServlet</servlet-name>
  	<servlet-class>com.jjangplay.main.controller.DispatcherServlet</servlet-class>
  	<!-- 서버가 실행될 때 확인해서 시작해주세요. init()실행 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- servlet과 servlet-mapping의 name은 같아야 합니다. -->
  <servlet-mapping>
  	<servlet-name>dispatchServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>sitemesh</filter-name>
  	<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>sitemesh</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.jjangplay.util.Filter.EncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>

</web-app>





